* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

header {
  background-color: #13293D;
  color: #FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


.SBDN{
  align-items: center;
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #13293D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #13293d8e}

.button:active {
  background-color: #13293d8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
